

<r:set_var name="baseComponentName" value="calendar" />

<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:content_for name="{$defaultComponentClasses}">py-4 wvu-bg-blend-mode-luminosity--80</r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if v1="{$componentIsMain}" v2="1" op="=">id="wvu-main-content"</r:if> class="<r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>


  <div class="container">
    <div class="wvu-events">
        <div class="py-4 row d-flex align-items-cent">
          <h2 class="col-md-2 wvu-shout h1 text-dark mt-0 pl-0">Calendar</h2>
          <div class="col-md-10">
            <div id="localist-widget-34148865" class="localist-widget"></div><script defer type="text/javascript"
          src="https://cal.wvu.edu/widget/view?schools=wvu&departments=wvu_veterans&days=90&num=4&container=localist-widget-34148865&style=none&template=cleanslate-horizontal"></script>
          </div>
          <r:editable_region name="calendar-link" />
        </div>
      </div>
    </div>
  </div>

  </<r:partial name="utilities/wvu-is-main-checker--end" theme="University Relations: WVU Design System" />><!-- End markup -->

  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />



<r:include_javascript name="core" />

<r:content_for name="page_js">

<script type="text/javascript">
    ActiveData.Events(
        "https://calendar.wvu.edu/handlers/query.ashx?id=4e2f5d67326443baad45942ddd30ce90&tenant=&site=campusrecreation",
        function (response) {$("#cb29229c8889408cb79afd67a0955241").append(response.data);}
    );
</script>

</r:content_for>