<r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

<r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
<r:set_var name="baseComponentName" value="blog-article" />

<r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>

<r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}"></r:content_for>

<r:comment><!-- Since there is no header to hook into to label this section, we need to apply an ARIA-Label. This tells our “is main checker” utility to apply the label. --></r:comment>
<r:set_var name="componentNeedsARIALabel" value="true" />

<r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
<r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if v1="{$componentIsMain}" v2="1" op="=">id="wvu-main-content"</r:if> class="<r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
  <r:comment><!-- NOTE: Blog articles use Schema.org's tags to structure your data & help with SEO: http://goo.gl/SKs4Qb --></r:comment>
  <article class="" itemscope="" itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
    <r:if v1="{$blog_article_has_hero}" v2="1" op="=">
      <r:partial name="components/wvu-blog-article-hero" theme="University Relations: WVU Design System" />
      <r:set_var name="baseComponentName" value="blog-article" />
      <r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />
    </r:if>
    <div class="container">
      <div class="row py-5">
        <div class="col-sm-8 col-md-6 mx-auto">
          <r:if v1="{$blog_article_has_hero}" v2="1" op="!=">
            <r:comment><!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. --></r:comment>
            <r:if v1="{$backpage_header}" v2="1" op="="><h1 id="<r:var name="componentName" />-label" itemprop="headline"><r:page:name /></h1></r:if>
            <p class="small d-block">
              <r:if v1="{$blog_article_hide_author}" v2="1" op="!=">
                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                  <span itemprop="name">
                    <r:article:author_full_name /> |
                  </span> <r:comment><!-- /.wvu-article__author --></r:comment>
                </span> <r:comment><!-- /itemprop="author" --></r:comment>
              </r:if>
              <time datetime="<r:date_format format="iso8601" value="{article:published_at}" />"><r:date_format format="%A, %B %d, %Y" value="{article:published_at}" error_msg="Not Yet Published" /></time>
            </p> <r:comment><!-- /.wvu-article__meta --></r:comment>
          </r:if>
          <div itemprop="articleBody">
            <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
            <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Main Content</span></r:edit_mode_only>
            <r:comment><!-- Editable region for main content. --></r:comment>
            <r:editable_region name="profile-image">
              <p>Profile Image</p>
            </r:editable_region>
            <r:editable_region name="branch">
              <p>Military branch</p>
            </r:editable_region>
            <r:editable_region name="intro">
              <p>Intro paragraph</p>
            </r:editable_region>
            
            <r:editable_region name="{$componentMain}" scope="{$componentScope}">
              <p>Churning anomalies game plan. High performance keywords not enough bandwidth. Can
              we parallel path. Viral engagement great plan! let me diarize this, and we can
              synchronise ourselves at a later timepoint but are there any leftovers in the kitchen?
              driving the initiative forward.</p>
              <p>Build on a culture of contribution and inclusion that jerk from finance really threw
              me under the bus, so five-year strategic plan blue sky thinking, nor clear blue
              water ramp up upstream selling. Strategic staircase can we align on lunch orders.
              I don't want to drain the whole swamp, i just want to shoot some alligators meeting
              assassin we need distributors to evangelize the new line to local markets, nor
              cloud strategy but data-point, but back to the drawing-board.</p>
              <figure class="mt-4 mx-lg-n5">
              <img alt="Pom Poms in a crowd" data-asset-id="127904" data-asset-version="960x640"
              src="https://designsystem.sandbox.wvu.edu/files/0bad594b-5c78-485a-b465-7798861067a2/960x640">
              </figure>
              <figcaption class="mb-4">
              <small class="d-block iowan-old-style">
                It's about managing expectations we need to socialize the comms with the wider stakeholder
                community.
              </small>
              </figcaption>
              <p>
              If you want to motivate these clowns, try less carrot and more stick net net and
              onward and upward, productize the deliverables and focus on the bottom line for
              it's not hard guys. Define the underlying principles that drive decisions and strategy
              for your design language pulling teeth, but game-plan this proposal is a win-win
              situation which will cause a stellar paradigm shift, and produce a multi-fold increase
              in deliverables low hanging fruit productize.
              </p>
              <blockquote class="iowan-old-style-black-italic h2 wvu-bar wvu-bar--center my-4 pb-1 text-center mx-lg-n5">We need to harvest synergy effects. To be inspired is to become creative, innovative
              and energized we want this philosophy to trickle down to all our stakeholders.
              <span class="d-block iowan-old-style text-uppercase wvu-letter-spacing h5 mt-2">Joe Schmoe</span>
              </blockquote>
              <p>It's a simple lift and shift job. Run it up the flagpole. Can we parallel path minimize
              backwards overflow proceduralize hard stop where the metal hits the meat or cloud
              strategy. Quick-win can you ballpark the cost per unit for me, nor get all your
              ducks in a row we're ahead of the curve on that one so meeting assassin, or we
              are running out of runway. Loop back. Golden goose land the plane and incentivization
              or pushback, and pushback this is meaningless yet drive awareness to increase engagement.</p>
            </r:editable_region>
          </div> <r:comment><!-- /.wvu-article__body --></r:comment>
        </div>
      </div>
    </div> <r:comment><!-- /.container --></r:comment>
  </article> <r:comment><!-- /.wvu-article --></r:comment>
  <aside class="py-5 border-top border-light">
    <div class="container wvu-z-index-content">
      <div class="row">
        <div class="col-sm-8 col-md-6 mx-auto">
          <div class="row">
            <div class="col-md-6">
              <h2 class="wvu-blog__sidebar-header h3">Related Articles</h2>
              <r:blog:articles limit="5" tags="{article:tags}" exclude_ids="{article:id}">
                <r:if_articles>
                  <ul>
                    <r:each>
                      <li><a href="<r:article:path />"><r:article:name /></a></li>
                    </r:each>
                  </ul>
                </r:if_articles>
              </r:blog:articles>
            </div>
            <div class="col-md-6">
              <h2 class="wvu-blog__sidebar-header h3">Archives</h2>
              <r:blog:archive:monthly ul_class="wvu-blog-archive" count_class="badge badge-wvu-neutral--dark-gray text-white" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside> <r:comment><!-- /.wvu-sidebar --></r:comment>
  <r:comment><!-- Need comments for Blog Articles? See https://disqus.com --></r:comment>
<r:comment><!-- A utility to decide whether to add a closing main or section tag. --></r:comment>
</<r:partial name="utilities/wvu-is-main-checker--end" theme="University Relations: WVU Design System" />><!-- End markup -->

<r:comment><!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. --></r:comment>
<r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />
