<r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

<r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
<r:set_var name="baseComponentName" value="blog-index" />

<r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>

<r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}"></r:content_for>

<r:comment><!-- Components do not display on live sites unless set to “Is active” in the slot’s custom data. But we need to make the component active no matter what in Edit Mode so the user can test it. You can see the “if” statement in the component’s outer HTML container that checks. --></r:comment>
<r:edit_mode_only>
  <r:set_var name="componentIsEditModeOnly" value="0" />
</r:edit_mode_only>

<r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
<r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if_true value="{$componentIsMain}">id="wvu-main-content"</r:if_true> class="<r:if_true value="{$componentIsEditModeOnly}">d-none </r:if_true>py-5 <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
  <div class="container wvu-z-index-content">

    <r:comment><!-- NOTE: Set how many blog posts you'd like to show per page. Eg: default="10" --></r:comment>
    <r:set_var name="limit" value="{$limit}" default="10" />

    <r:page:if_has_content_for region="{$componentMain}" always_show_in_edit_mode="true">
      <div class="mb-4">
        <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
        <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Intro</span></r:edit_mode_only>
        <r:comment><!-- Editable region for main content. --></r:comment>
        <r:editable_region name="{$componentMain}"><h2>Articles</h2><p>Intro text.</p></r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="row">
      <div class="col-md-8 mr-md-auto">

        <r:blog:articles limit="{$limit}" page="{$page}" tags="{$tags}" tags_op="{$tags_op}" year="{$year}" month="{$month}" day="{$day}">
          <r:set_var name="article_count" value="{count}" />

          <r:if_no_articles>
            <p>No blog posts found. Try again later, perhaps?</p>
          </r:if_no_articles>

          <r:comment><!-- NOTE: Blog articles use Schema.org's tags to structure your data & help with SEO: http://goo.gl/SKs4Qb --></r:comment>

          <r:set_var name="blogIsHidden">
            <r:page:data name="blog_index_hide_author" />
          </r:set_var>

          <r:if_articles>
            <div class="wvu-articles">
              <r:each>
                <div class="row">
                  <div class="col-md-4">
                    <r:article:content name="profile-image" />
                  </div>
                  <div class="col-md-8">
                    <article class="mb-4" itemscope="" itemtype="http://schema.org/BlogPosting">
                      <h2 itemprop="headline"><a href="<r:article:path />"><r:article:name /></a></h2>
                      <strong><p>
                        <r:select_html css_selector="p" limit="1">
                          <r:article:content name="branch" />
                        </r:select_html>
                      </p></strong> <!-- /.wvu-article__meta -->
                      <div class="mb-2" itemprop="articleBody">
                        <r:select_html css_selector="p" limit="1">
                          <r:article:content name="intro" />
                        </r:select_html>
                      </div> <!-- /.wvu-article__body -->
                      <a class="btn btn-wvu-blue" href="<r:article:path />">Read Full Article<span class="sr-only">: <r:article:name /></span></a>
                    </article> <!-- /.wvu-article -->
                  </div>
                </div>
              </r:each>
            </div> <!-- /.wvu-articles -->
          </r:if_articles>

          <r:pagination>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item <r:if_last_page>disabled</r:if_last_page>"><a class="page-link" href="<r:next_url />" rel="next">&larr; Older Articles</a></li>
                <li class="page-item <r:if_first_page>disabled</r:if_first_page>"><a class="page-link" href="<r:previous_url />" rel="prev">Newer Articles &rarr;</a></li>
              </ul>
            </nav>
          </r:pagination>
        </r:blog:articles>

      </div>
      <r:partial name="components/wvu-sidebar" theme="University Relations: WVU Design System" />
    </div>
  </div> <!-- /.container -->
<r:comment><!-- A utility to decide whether to add a closing main or section tag. --></r:comment>
</<r:partial name="utilities/wvu-is-main-checker--end" theme="University Relations: WVU Design System" />><!-- End markup -->

<r:comment><!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. --></r:comment>
<r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />
