---
layout: default
custom_data_attributes:
  - frontpage_announcement:
    type: checkbox
    title: Check to show announcement banner
---

<r:set_var name="isMain" value="1" />
<r:set_var name="align" value="right" />
<r:partial name="components/wvu-hero" theme="University Relations: WVU Design System"/>

<r:if v1="{$frontpage_announcement}" v2="1" op="!=">
  <r:partial name="components/frontpage_announcement" />
</r:if>

<r:set_var name="isMain" value="0" />
<r:set_var name="featurettesStyle" value="editable-regions" />
<r:set_var name="limit" value="6" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="2" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="2" />
<r:set_var name="limit" value="2" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:partial name="components/calendar" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-social-media" theme="University Relations: WVU Design System" />