---
layout: default
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/wvu-action-hero-h1" theme="University Relations: WVU Design System" />

<r:set_var name="isMain" value="0" />
<r:set_var name="featurettesStyle" value="editable-regions" />
<r:set_var name="limit" value="2" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />



<r:set_var name="instanceNumber" value="2" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-social-media" theme="University Relations: WVU Design System" />

