// Grid styles
.grid-two-column,.grid-two-columns{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 20px;
  }
.grid-three-column, .grid-three-columns{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 20px;
  }
.grid-four-column,.grid-four-column{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 20px;
  @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    }
  }